(defn setup-beasts
  []
  [{:beast-name :tagus 
    :image "images/tagus.jpg"
    :power 73 
    :age 406 
    :size 100
    :magic-level 114
    :fright-factor 58
    :image-visible? true
    :visible? true
    :card-visible? false} 
   {:beast-name :targro 
    :image "images/targro.jpg"
    :power 232
    :age 370
    :size 268
    :magic-level 134
    :fright-factor 89
    :visible? true
    :card-visible? false}
   {:beast-name :ferno 
    :image "images/ferno.jpg"
    :power 288
    :age 370
    :size 465
    :magic-level 134
    :fright-factor 89
    :visible? true
    :card-visible? false}
   {:beast-name :arcta 
    :image "images/arcta.jpg"
    :power 232
    :age 370
    :size 334
    :magic-level 134
    :fright-factor 89
    :visible? true
    :card-visible? false}
   {:beast-name :nanook 
    :image "images/nanook.jpg"
    :power 232
    :age 370
    :size 268
    :magic-level 134
    :fright-factor 89
    :visible? true
    :card-visible? false}
   {:beast-name :sepron 
    :image "images/sepron.jpg"
    :power 232
    :age 370
    :size 268
    :magic-level 134
    :fright-factor 89
    :visible? true
    :card-visible? false}])
